:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.sample_img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sample_text {
  top: -122px;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
}

#photo_alert {
  display: none;
}

.photo-area .photo-head {
  height: 20%;
}

.photo-area .photo-body {
  height: 80%;
  justify-content: space-between;
}

.photo-area .btn-area {
  margin: 20px;
}